/* Шрифты */
@font-face {
  font-family: 'robotoregular';
  src: local('Roboto regular'), local('Roboto-regular');
  src: url('roboto-regular.woff2') format('woff2'),
       url('roboto-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'robotomedium';
  src: local('Roboto Medium'), local('Roboto-Medium');
  src: url('roboto-medium.woff2') format('woff2'),
       url('roboto-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'robotobold';
  src: local('Roboto Bold'), local('Roboto-Bold');
  src: url('roboto-bold.woff2') format('woff2'),
       url('roboto-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Глобальные теги */
* {
  outline: 1px solid red;
}

html,
body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  background-color: #fff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}
img {
  max-width: 100%;
}

h1 {
  font-size: 55px;
  font-weight: 400;
}

h2 {
  font-size: 55px;
  font-weight: 400;
}

h5 {
  font-size: 18px;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
.wrapper {
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  position: relative;
}
/* Шапка сайта */
.container {
  min-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.header {
  min-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 48px 20px 0px 20px;
}

/* Навигацыя в шапке */
.nav {
  display: flex;
  margin-top: 27px;
}
.nav__header,
.catalog__sorting--type,
.catalog__sorting--arrow {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav__header li {
  display: inline-block;
}
.nav__header a {
  display: block;
  padding: 8px 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.nav__header a:hover {
  color: #e74246;
}
.nav__header a:active {
  color: #000;
  border-bottom: 1px solid #e74246;
}
.nav__header--current {

}
.nav__site {
  padding-right: 235px;
  width: 460px;
}
.nav__cart a {
  padding-left: 40px;
  margin-right: -10px;
}

/* Слайдер */
.slider {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1200px;
  background-color:#eee;
  padding: 33px 20px 0px 20px;
  min-height: 430px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Переключалка слайдов */
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 1;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}
/* страницы слайда */
.slider__slide {
  display: none;
  padding: 0;
}
.slider__slide img {
  margin-top: -15px;
  margin-right: 30px;
  background-repeat: no-repeat;
}
.slider h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
#product-1:checked ~ .slider__slide.slider__slide--1 {
  display: flex;
}

#product-2:checked ~ .slider__slide.slider__slide--2 {
  display: flex;
}

#product-3:checked ~ .slider__slide.slider__slide--3 {
  display: flex;
}
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.slider__slide p {
  max-width: 430px;
  padding-right: 50px;
  margin-bottom: 52px;
}
.slider__slide .btn {
  padding: 13px 54px;
  width: 240px;
  height: 50px;
  display: inline-block;
}
/* Main, Catalog */
.main,
.catalog {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
/* Horizontal row */
.main hr {
  height: 2px;
  width: 100%;
  border: none;
  background-color: #eee;
  margin: 0px 20px;
}
/* Что мы дклаем */

.we-do {
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
}

.we-do__what {
  margin-left: 20px;
  width: 33%;
}
.we-do__what h4 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
}
.we-do__what p {
  padding-right: 130px;
  margin-bottom: 30px;
}

/* About us */
.about-us {
  margin: 41px 20px 32px 20px;
  display: flex;
  justify-content: space-between;
}
.about-us__details {
  margin-right: 140px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-us__details h3 {
  font-weight: 500;
  font-size: 45px;
  line-height: 1;
  margin: 34px 0;
}
.about-us__details p {
  padding-right: 30px;
}
.about-us h6{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.about-us__details ul {
  list-style: none;
  margin-left: -4px;
  margin-top: -15px;
}
.about-us__details li {
  padding-bottom: 23px;
}
.about-us__details li::after {
  content: "";
  display: block;
  position: relative;
  width: 25px;
  height: 2px;
  background-color: #ff6666;
  top: -13px;
  left: -35px;
}
.about-us__dedication {
  flex-shrink: 0;
  width: 360px;
}
.about-us__dedication h6 {
  text-align: center;
  margin-top: 28px;
}
.about-us__dedication th {
  font-size: 45px;
  font-weight: 700;
  padding: 12px 0;
  width: 33%;
  text-align: start;
}
.about-us__dedication td {
  padding: 13px 5px;
  line-height: 21px;
}
/* Buttons */
.btn {
  display: block;
  box-sizing: border-box;
  background-color: #ff6666;
  padding: 20px 42px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  border: none;
}
.btn:hover {
  background-color: #e74246;
  transition: all 0.3s;
}
.btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.we-do__what .btn {
  width: 160px;
  box-sizing: border-box;
  padding: 13px;
}
.btn__app {
  background-color: #00cc66;
}
.btn__pres {
  background-color: #ffcc33;
}



/* Портфолио */

.portfolio {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}

.portfolio--htmla,
.portfolio--barber,
.portfolio--pink,
.portfolio--mishka {
  width: 199px;
  height: 68px;
  opacity: 0.2;
}
.portfolio--htmla {
  background: url(../img/logo-1.png) no-repeat center;
}
.portfolio--barber {
  background: url(../img/logo-2.png) no-repeat center;
  width: 199px;
  height: 90px;
}
.portfolio--pink {
  background: url(../img/logo-3.png) no-repeat center;
  width: 185px;
  height: 52px;
}
.portfolio--mishka {
  background: url(../img/logo-4.png) no-repeat center;
  width: 173px;
  height: 84px;
}
.portfolio--htmla:hover,
.portfolio--barber:hover,
.portfolio--pink:hover,
.portfolio--mishka:hover {
  opacity: 1;
}
.portfolio--htmla:active,
.portfolio--barber:active,
.portfolio--pink:active,
.portfolio--mishka:active {
  opacity: 0.1;
}




/* Подвал */
.footer {
  display: flex;
  justify-content: flex-start;
  width: 1200px;
  margin: 0 auto;
}

.footer__map

.contacts-container {
  position: relative;
}

.footer__address {
  display: flex;
}
.footer__social {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
}
.footer__social li {
  text-decoration: none;
  margin: 0 20px;
}
.footer__social a {
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer__social a:hover {
  background-color: #ff3333;
}
.footer__social a:active {
  background-color: #cc3333;
}
.footer__social img:hover {
  fill: rgba(255, 255, 255, 0.3);
}
.footer__address {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 305px;
  padding: 50px;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  box-sizing: border-box;
  left: 140px;
}
.footer__address .btn{
  width: 220px;
  height: 50px;
  display: inline-block;
  font-weight: 500;
}
.footer__address h6 {
  margin: 0 0 20px 0;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.footer__address p {
  margin: 0;
}
.footer__address a {
  margin: 20px 0;
}
.footer__slogan {
  display: flex;
  margin: 80px 100px;
  flex-wrap: wrap;
  flex-direction: column;
}
.footer__slogan span:nth-child(1) {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 15px;
}
.we-do img {
  // display: none;
}

 /* POP UP */

.popup {
  position: fixed;
  display: block;
  z-index: 2;
  font-size: 18px;
  width: 960px;
  height: 590px;
  padding: 70px 100px;
  background-color: #fff;
  box-sizing: border-box;
  top: calc(50% - 295px);
  box-shadow: 10px 25px 50px 25px rgba(0,0,0,.5);
  transform: translateY(-1000px);
  transition: .3s;
}
.popup h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  margin: 0 0 50px 0;
}
.popup-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.in-popup-form {
  width: 360px;
  font-weight: 700;
}
.in-popup_text {
  margin-top: 35px;
  font-weight: 700;
}
.write-us input {
  width: 328px;
}
.write-us input,
.write-us textarea {
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #000;
  border: 2px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 3px;
}
.write-us input:hover,
.write-us textarea:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.write-us input:active,
.write-us textarea:active,
.write-us input:focus,
.write-us textarea:focus {
  border: 2px solid rgba(0, 0, 0, 1);
}
.write-us__error input,
.write-us__error textarea {
  color: #ff6666;
  border: 2px solid rgba(255, 51, 51, 1);
}
.write-us .btn {
  margin: 50px 0 0 0;
}
.form .btn, .write-us .btn {
  border: none;
}
.write-us textarea {
  display: block;
  width: 726px;
  height: 115px;
}

.btn-close {
  width: 22px;
  height: 22px;
  margin-top: -2px;
  border: 0;
  background-color: #ffffff;
  position: absolute;
  left: 849px;
  top: 81px;
  font-size: 0;
}
.btn-close::before,
.btn-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: rgba(255, 102, 102, 0.6);
}
.btn-close::before {
  transform: rotate(45deg);
}
.btn-close::after {
  transform: rotate(-45deg);
}
.btn-close:hover::before,
.btn-close:hover::after {
  background-color: rgba(255, 102, 102, 1);
}
.btn-close:active::before,
.btn-close:active::after {
  background-color: rgba(255, 102, 102, 0.2);
}

/* Catalog page*/

.catalog__form {
  width: 300px;
  margin: 0 100px 0 20px;
}

.catalog__sorting {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.catalog__sorting--type {

}
.catalog__sorting--arrow {

}

.catalog__items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.catalog__item {
  width: 360px;
  border: 2px solid  #c1c1c1;
  margin: 35px 20px;
}

.catalog__elements {
  display: flex;
}
.catalog__item--info h5 {
  font-size: 36px;
  font-weight: 700;
  line-height: 18px;
}
.catalog__item--info p {
  font-size: 18px;
  line-height: 16px;
  color: #666666;
}
